body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
}

input {
    padding: 0 4px;
    margin: 2px 0;
    height: 2rem;
    padding: 0px 0.9rem;
}

#URL {
    padding: 0px 1.8rem;
}

button,
.file-input-label {
    display: inline-block;
    padding: 4px 12px;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-size: 16px;
    /* border-radius: 20px; */
}

button:hover,
.file-input-label:hover,
button:focus,
.file-input-label:focus {
    background-color: #e0e0e0;
}

button:active,
.file-input-label:active,
button:focus,
.file-input-label:focus {
    border: 1px solid #888;
    background-color: #d0d0d0;
}

.hidden-file-input {
    display: none;
}

button:disabled,
/* CSS Sibling Combinator + works only when the label directly follows the input element in the HTML structure. */
.hidden-file-input:disabled+.file-input-label {
    background-color: #e0e0e0;
    color: #888;
    cursor: not-allowed;
    border: 1px solid #aaa;
}

#download-btn {
    margin-left: 0;
}

#qr-canvas {
    width: 400px;
}

#favicon {
    width: 18px;
    height: 18px;
    margin: 0px 6px 0 6px;
    position: absolute;
}

.form-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.form-row div {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-row input {
    width: -webkit-fill-available;
}

.links {
    display: flex;
    gap: 10px;
}

.footer {
    display: flex;
    color: #9d9d9d;
    width: 100%;
    margin-top: 16px;
}

#buttons {
    margin-top: 4px;
}

#canvas-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.drop-area.active {
    border-color: #666;
    background-color: #f0f0f0
}

.drop-area.dragover {
    border-color: #000;
    background-color: #f0f0f0;
}